# Parsing APIs Example

## Intro

Now we will take a look on a real data. When you parse data from web you will often meet API based web-pages. 

For example [zalando.fr](https://www.zalando.fr/accueil-homme/) is API based web-page. 

In this guided lab you will learn how to obtain the links from webpages and extract the data. Read through this doc, execute the cells in order and make sure you understand the explanations. 

*Note: This guided lab uses Google Chrome. Other browsers like Safari and Firefox have similar tools for developers but they work differently. To save your time in following this lab, it is strongly recommended that you install and use Google Chrome.*

## Obtaining the link

Zalando is discount e-store where you can buy clothes and accesories with discount. When we go to the web-page, we can choose different sections. First the general process will be shown using [Children section](https://www.zalando.fr/accueil-enfant/) as example.

Here we will parse data about promotions only. Therefore, final output will be the DataFrame with all the goods under discount.

[![Image from Gyazo](https://i.gyazo.com/fa4874d8e81c7570273bbfb853d66308.png)](https://gyazo.com/fa4874d8e81c7570273bbfb853d66308)


We go to Promos page. Right click of mouse shows us a list of actions possible, from which we select Inspect.

<img src='https://i.gyazo.com/bccbd11d69c9040dc98758d443e32052.png' width="400">


You will see the menu dropdown on the right side or on the bottom of the window. There you should click on Network:


[![Image from Gyazo](https://i.gyazo.com/f7e0db81cbfee67694183d1a7640bf81.png)](https://gyazo.com/f7e0db81cbfee67694183d1a7640bf81)

Right after the developer part will change showing the files behind the page. In order to obtain only useful files we select the following settings:
1. Preserve Log
2. Select XHR files.

[![Image from Gyazo](https://i.gyazo.com/9a899d4441d9d93e795f79747f1e47d5.png)](https://gyazo.com/9a899d4441d9d93e795f79747f1e47d5)

In order to obtain some files we need to scrool down and go forward to second page. 

[![Image from Gyazo](https://i.gyazo.com/0956eb3d5125075a236c9a439c7749c7.png)](https://gyazo.com/0956eb3d5125075a236c9a439c7749c7)

In the Network panel you can see the following files being uploaded. All the data on the web-page is uploaded from the json file, which is one of the following. It is important to understand which file contains what kind of information. 

<a href="https://gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c"><img src="https://i.gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c.png" alt="Image from Gyazo" width="724.8"/></a>

When you find what kind of information you need for the data to be uploaded you just test it. Here we need the article... file:

<a href="https://gyazo.com/78b35bf492994b3f35c0564a21da202a"><img src="https://i.gyazo.com/78b35bf492994b3f35c0564a21da202a.png" alt="Image from Gyazo" width="727.2"/></a>

When we test the link in Chrome inkognito mode we obtain the proper json file:


<a href="https://gyazo.com/b60453fa98454fa29771c731a5174443"><img src="https://i.gyazo.com/b60453fa98454fa29771c731a5174443.png" alt="Image from Gyazo" width="1530.4"/></a>

In order to change the objects in the json file (kind of pagination), you need to change the offset (the number of the first element on the page). in fact, if you take a look on the link, it is easy to unerstand the structure of the link.

# Reading the data

Now the party rocks! When we know how can we obtain the data, it is not a problem to obtain the whole database with all the data from the web-page.
In this lab you will collect your database of Zalando products. You select which goods you want to track. You can define as many filters to your data as you want. Just make sure that the data represents the filters.

In [1]:
import requests
import pandas as pd

In [2]:
# Paste the url you obtained for your data
url='https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset=84&sort=popularity'

headers = {
    'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36'
}

#### Collect first 84 object of the of the data (1st page)

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having *family_articles, flags, media* and *sizes* remaining lists (they are exceptions).

In [3]:
# Your code

In [4]:
response = requests.get(url, headers=headers)
print(response.content[:500])

b'{"total_count":25742,"pagination":{"page_count":307,"current_page":2,"per_page":84},"sort":"popularity","articles":[{"sku":"PU143N01A-G11","name":"PUMA X ZALANDO ORIGINALS - Sac \xc3\xa0 dos - pomegranate","price":{"original":"28,95\xc2\xa0\xe2\x82\xac","promotional":"11,65\xc2\xa0\xe2\x82\xac","has_different_prices":false,"has_different_original_prices":false,"has_different_promotional_prices":false,"has_discount_on_selected_sizes_only":false},"sizes":["One Size"],"url_key":"puma-puma-x-zalando-originals-sac-a-dos-pu143n01a-g11",'

In [5]:
results = response.json()

In [6]:
flattened_data = pd.json_normalize(results)

In [7]:
flattened_data1 = pd.json_normalize(flattened_data.articles[0])
flattened_data1.head()

,sku,name,sizes,url_key,media,brand_name,is_premium,family_articles,flags,product_group,delivery_promises,price.original,price.promotional,price.has_different_prices,price.has_different_original_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only
0,PU143N01A-G11,PUMA X ZALANDO ORIGINALS - Sac à dos - pomegra...,[One Size],puma-puma-x-zalando-originals-sac-a-dos-pu143n...,[{'path': 'PU/14/3N/01/AG/11/PU143N01A-G11@8.j...,Puma,False,"[{'sku': 'PU143N01A-G11', 'url_key': 'puma-pum...","[{'key': 'discountRate', 'value': '-60%', 'tra...",accessoires,[],"28,95 €","11,65 €",False,False,False,False
1,WO813D00O-J11,SANDRA - Baskets basses - pink sand,"[27, 28, 29, 30, 31, 32, 33, 34, 35]",woden-sandra-pearl-baskets-basses-pink-sand-wo...,[{'path': 'WO/81/3D/00/OJ/11/WO813D00O-J11@10....,Woden,False,"[{'sku': 'WO813D00O-J11', 'url_key': 'woden-sa...","[{'key': 'discountRate', 'value': 'Jusqu’à -50...",shoe,[],"69,95 €","34,95 €",True,False,True,False
2,PU116D091-A12,Chaussures premiers pas - puma white-rapture rose,"[23, 24, 25, 26, 27]",puma-baskets-basses-puma-white-rapture-rose-pu...,[{'path': 'PU/11/6D/09/1A/12/PU116D091-A12@2.1...,Puma,False,"[{'sku': 'PU116D091-A12', 'url_key': 'puma-bas...","[{'key': 'discountRate', 'value': '-30%', 'tra...",shoe,[],"40,00 €","27,95 €",False,False,False,False
3,JOC43K01X-G11,JUMPMAN CLASSIC TEE SHORT SET - Short de sport...,"[2-3a, 3-4a, 4-5a, 5-6a, 6-7a]",jordan-jumpman-classic-tee-short-set-t-shirt-i...,[{'path': 'JO/C4/3K/01/XG/11/JOC43K01X-G11@8.j...,Jordan,False,"[{'sku': 'JOC43K01X-G11', 'url_key': 'jordan-j...","[{'key': 'discountRate', 'value': '-20%', 'tra...",clothing,[],"41,95 €","33,75 €",False,False,False,False
4,WO813D00K-E11,NORA METALLIC HEEL - Baskets basses - super lemon,"[25, 28, 29, 30, 31]",woden-nora-metallic-heel-baskets-basses-super-...,[{'path': 'WO/81/3D/00/KE/11/WO813D00K-E11@10....,Woden,False,"[{'sku': 'WO813D00K-E11', 'url_key': 'woden-no...","[{'key': 'discountRate', 'value': '-60%', 'tra...",shoe,[],"64,95 €","25,95 €",False,False,False,False

#### Collect all the objects from selected filters. Total number of pages can be found in the same json. Use *sku* column as index.

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having family_articles, flags, media and sizes remaining lists (they are exceptions).

In [8]:
# Get the total number of pages
total_pages=results['pagination']['page_count']
total_pages

307

In [9]:
# Your code
df=pd.DataFrame()
for i in range(total_pages):
    k=84*i
    url=f'https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset={k}&sort=sale'
    response = requests.get(url, headers=headers)
    results = response.json()
    flattened_data  = pd.json_normalize(results)
    flattened_data1 = pd.json_normalize(flattened_data.articles[0])
    flattened_data1 = flattened_data1.set_index('sku')
    df = df.append(flattened_data1)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25740 entries, QU153G00F-K11 to HE643I005-I11
Data columns (total 20 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   name                                          25740 non-null  object
 1   sizes                                         25740 non-null  object
 2   url_key                                       25740 non-null  object
 3   media                                         25740 non-null  object
 4   brand_name                                    25740 non-null  object
 5   is_premium                                    25740 non-null  bool
 6   family_articles                               25740 non-null  object
 7   flags                                         25740 non-null  object
 8   product_group                                 25740 non-null  object
 9   delivery_promises                             25740 non-null  object
 10  price.original                                25740 non-null  object
 11  price.promotional                             25740 non-null  object
 12  price.has_different_prices                    25740 non-null  bool
 13  price.has_different_original_prices           25740 non-null  bool
 14  price.has_different_promotional_prices        25740 non-null  bool
 15  price.has_discount_on_selected_sizes_only     25740 non-null  bool
 16  tracking_information.metrigo_impression_urls  9 non-null      object
 17  tracking_information.impression_beacon        9 non-null      object
 18  tracking_information.source                   9 non-null      object
 19  amount                                        170 non-null    object
dtypes: bool(5), object(15)
memory usage: 3.3+ MB

#### Display the trending brand in DataFrame

In [10]:
df.brand_name.value_counts().index[0]

'Name it'

#### Display the brand with maximal total discount (sum of discounts on all goods)

In [11]:
#Our data is still text. Convert prices into numbers:
df['price.original'] = df['price.original'].str.extract('(\d*,\d*)')
df['price.promotional'] = df['price.promotional'].str.extract('(\d*,\d*)')

In [12]:
df['price.original'] = df['price.original'].str.replace(',','.').astype(float)
df['price.promotional'] = df['price.promotional'].str.replace(',','.').astype(float)

In [13]:
df['discount_amount'] = df['price.original'] - df['price.promotional']

In [14]:
total_disc = df.groupby(['brand_name']).sum().discount_amount

In [15]:
total_disc.sort_values(ascending=False).index[0]

'Scotch & Soda'

#### Display the brands without discount at all

In [16]:
total_disc[total_disc==0]

brand_name
ASICS SportStyle        0.0
Angel & Rocket          0.0
Be Only                 0.0
Belstaff                0.0
Bikkembergs Kids        0.0
Bogs                    0.0
Bomboogie               0.0
Craft                   0.0
Fabrizio                0.0
Finger in the nose      0.0
Fjällräven              0.0
Hatley                  0.0
Herschel                0.0
Hip                     0.0
K-SWISS                 0.0
La Queue du Chat        0.0
MAÁ                     0.0
MP Denmark              0.0
Mini Molly              0.0
Modern Native           0.0
NOP                     0.0
Nike Golf               0.0
Noa Noa                 0.0
Nordic coast company    0.0
ODLO                    0.0
Outerstuff              0.0
Outfit Kids             0.0
Patagonia               0.0
People Wear Organic     0.0
Pinocchio               0.0
Play Up                 0.0
Scotch R'Belle          0.0
Sisley                  0.0
Sonia Rykiel            0.0
THE WHITE BRAND         0.0
TOMS                    0.0
Ten Cate                0.0
UGG                     0.0
Uhlsport                0.0
Umbro                   0.0
Unauthorized            0.0
Vilebrequin             0.0
XTI                     0.0
Zoe Leggings            0.0
bellybutton             0.0
fullstop.               0.0
mtng                    0.0
Name: discount_amount, dtype: float64